name: Frontend CI/CD

on:
  push: # Roda o workflow em qualquer push
  pull_request: # Roda o workflow em qualquer pull request

jobs:
  prettier:
    name: Prettier Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar depend锚ncias (sem salvar)
        run: npm install --no-save prettier

      - name: Rodar Prettier e corrigir problemas de estilo
        run: npx prettier --write "**/*.{js,ts,tsx,json,md,yml,yaml}" # Corrige os problemas de estilo

  build:
    name: Build Vite App
    if: github.ref == 'refs/heads/master' # Roda apenas para a branch master
    runs-on: ubuntu-latest
    needs: prettier # S贸 roda depois do job Prettier

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar depend锚ncias
        run: npm install

      - name: Build do projeto
        run: npm run build

      - name: Teste (simulado)
        run: echo "Rodando testes fake..."

  deploy-dev:
    name: Deploy (simulado) - Dev
    if: github.ref == 'refs/heads/master' # Roda apenas para a branch master
    runs-on: ubuntu-latest
    environment: dev
    needs: build # S贸 roda depois do job build

    steps:
      - name: Echo do deploy
        run: echo " Deploy fake feito para o ambiente de DEV!"
